body {
    background-color: #16a085;
    font-family: Roboto, sans-serif;
}

.cards {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    background: url('img/bicycle.png');
    background-repeat: no-repeat;
    background-position: center bottom -140px;
    background-size: contain;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 250px;
    background-color: #fff;
    padding-bottom: 180px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
}
.user-icon {
    width: 40px;
    padding: 5px;
    float: right;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 50px;
}

.user-icon:hover {
   box-shadow: 0px 0px 0px 5px #f3f3f3;
    cursor: pointer;
}
.cart {
    width: 100%;
}
.item {
    height: 50px;
}
.thank-you-text {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
}

.item-title, .total-text {
    font-size: 16px;
    font-weight: 500;
}

.item-price, .total-price {
   text-align: right;
    font-weight: 700;
    font-size: 20px;
}

.total-text {
    font-weight: 700;
    text-transform: uppercase;
    opacity: .7;
    font-size: 20px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .cards {
    background-position: center bottom -40px;
  }
}
